version: '2'

services:
    mysql:
        image: mysql:5.6
        restart: always
        container_name: "akeneo_pim_mysql"
        environment:
            - "MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD"
        command: "--max_allowed_packet=1000M --connect_timeout=72"
        volumes:
            - "mysql_data:/var/lib/mysql"
            - "./conf/mysql/:/etc/mysql/conf.d:ro"
        ports:
            - "${MYSQL_PORT}:3306"
        networks:
            akeneo_network:
                aliases:
                    - mysql.db

    akeneo:
        image: theiconic/akeneo-nginx
        container_name: "akeneo_pim_app"
        environment:
            - "COMPOSER_HOME=/composer"
            - "WEBROOT=${WEBROOT}"
            - "TZ=${TIME_ZONE}"
        volumes:
            - "${SOURCE_PATH}:${WEBROOT}"
            - "${COMPOSER_HOME}:/composer"
            - "./conf/php/php.ini:/usr/local/etc/php/php.ini"
        working_dir: "${WEBROOT}"
        user: "$USER_ID"
        networks:
            akeneo_network:
                aliases:
                    - akeneo.pim

    nginx:
        image: nginx:1.11.13-alpine
        container_name: "akeneo_pim_nginx"
        volumes:
            - "./conf/nginx/sites-available:/etc/nginx/conf.d/:ro"
        ports:
            - 8800:80
            - 443:443
        depends_on:
            - akeneo
            - mysql
        volumes_from:
            - akeneo:ro
        networks:
            - akeneo_network

    postman:
        image: postman/newman_alpine33:3.2.0
        container_name: "akeneo_pim_postman"
        volumes:
            - "${POSTMAN_SOURCE_PATH}:/etc/newman:ro"
        depends_on:
            - nginx
        networks:
            - akeneo_network

volumes:
    mysql_data:
        driver: local

networks:
  akeneo_network:
      driver: bridge
      ipam:
        driver: default
        config:
            -
                subnet: 192.168.20.1/24
