version: '2'

services:
    akeneo:
        image: theiconic/akeneo-nginx
        container_name: "akeneo_pim_app"
        environment:
            - "COMPOSER_HOME=/composer"
            - "WEBROOT=${WEBROOT}"
            - "TZ=${TIME_ZONE}"
        volumes:
            - "${SOURCE_PATH}:${WEBROOT}"
            - "${COMPOSER_HOME}:/composer"
            - "./conf/php/php.ini:/usr/local/etc/php/php.ini"
        working_dir: "${WEBROOT}"
        user: "$USER_ID"


    nginx:
        image: nginx:alpine
        container_name: "akeneo_pim_nginx"
        volumes:
            - "./conf/nginx/sites-available:/etc/nginx/conf.d/:ro"
        ports:
            - 80:80
            - 443:443
#            - 8081:8081 # Behat dedicated port
        depends_on:
            - akeneo
        volumes_from:
            - akeneo:ro
