version: '2'

services:
    mysql:
        image: mysql:5.6
        restart: always
        container_name: "akeneo_pim_mysql"
        environment:
            - "MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD"
        command: "--max_allowed_packet=1000M --connect_timeout=72"
        volumes:
            - "mysql_data:/var/lib/mysql"
            - "./conf/mysql/:/etc/mysql/conf.d:ro"
        ports:
            - "${MYSQL_PORT}:3306"

    akeneo:
        image: theiconic/akeneo-nginx
        container_name: "akeneo_pim_app"
        environment:
            - "COMPOSER_HOME=/composer"
            - "WEBROOT=${WEBROOT}"
            - "TZ=${TIME_ZONE}"
        volumes:
            - "${SOURCE_PATH}:${WEBROOT}"
            - "${COMPOSER_HOME}:/composer"
            - "./conf/php/php.ini:/usr/local/etc/php/php.ini"
        working_dir: "${WEBROOT}"
        user: "$USER_ID"


    nginx:
        image: nginx:alpine
        container_name: "akeneo_pim_nginx"
        volumes:
            - "./conf/nginx/sites-available:/etc/nginx/conf.d/:ro"
        ports:
            - 8800:80
            - 443:443
        depends_on:
            - akeneo
            - mysql
        volumes_from:
            - akeneo:ro

volumes:
    mysql_data:
        driver: local
